<h2 class="text-center"><%= @tweet.text %></h2>

<% if @tweet.sentiment %>
    <p class="lead">Sentiment:</p>
    <ul>
      <li>Type: <%= @tweet.sentiment.type %></li>
      <li>Score: <%= @tweet.sentiment.score.to_s.blank? ? 'N/A' : @tweet.sentiment.score %></li>
      <li>Mixed: <%= @tweet.sentiment.mixed.to_s.blank? ? 'N/A' : @tweet.sentiment.mixed %></li>
    </ul>
<% end %>

<% unless @tweet.taxonomies.empty? %>
    <br/>
    <p class="lead">Taxonomies:</p>
    <% @tweet.taxonomies.each do |taxonomy| %>
        <ul>
          <li>Confident: <%= taxonomy.confident.to_s.blank? ? 'N/A' :taxonomy.confident %></li>
          <li>Label: <%= taxonomy.label.to_s.blank? ? 'N/A' :taxonomy.label %></li>
          <li>Score: <%= taxonomy.score.to_s.blank? ? 'N/A' :taxonomy.score %></li>
        </ul>
    <% end %>
<% end %>

<%= link_to 'Back', :back %>