<% unless flash.empty? %>
    <div class="container static-flash">
      <div class="flash-container">
        <% flash.each do |key, value| %>
            <% bt = button_tag('x', type: 'button', class: 'close', 'data-dismiss' => 'alert') %>
            <%= content_tag(:div, bt + raw(value), class: "alert #{alert_class(key)}") %>
        <% end %>
      </div>
    </div>
<% end %>