<div class="working-overlay">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="message-container">
          <div class="message text-center">
            <h2>Working</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>