<%= form_for(@hashtag, html: { class: 'generic-form' }) do |f| %>

    <div class="form-group">
      <%= f.label :hashtag %><br>
      <div class="input-group">
        <div class="input-group-addon">#</div>
        <%= f.text_field :hashtag %>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit %>
    </div>
<% end %>
