<h1>Listing Hashtags</h1>

<table class="table">
  <thead>
  <tr>
    <th>Hashtag</th>
    <th>Amount of tweets</th>
    <th>Amount of tweets without analysis</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @hashtags.each do |hashtag| %>
      <tr>
        <td><%= link_to "##{hashtag.hashtag}", twitter_hashtag_url(hashtag), target: :blank %></td>
        <td><%= hashtag.tweets.count %></td>
        <td><%= hashtag.un_analyzed_tweets.count %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'See tweets', tweets_hashtag_path(hashtag) %></li>
              <% if hashtag.has_tweets_for_analysis? %>
                  <li><%= link_to 'Analyze all tweets', analyze_tweets_hashtag_path(hashtag), method: :post, class: 'show-overlay-btn' %></li>
              <% else %>
                  <li><%= link_to 'See statistics', hashtag %></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Sync tweets', sync_tweets_hashtag_path(hashtag), method: :post, class: 'show-overlay-btn' %></li>
            </ul>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hashtag', new_hashtag_path %>

<script>
  $(".show-overlay-btn").click(function() {
    $(".working-overlay").show();
  });
</script>