<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<h1 class="text-center"><%= link_to "##{@hashtag.hashtag}", twitter_hashtag_url(@hashtag), target: :blank %></h1>

<div id="sentiment-chart" style="width: 900px; height: 500px;"></div>

<script>
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable(<%= raw @hashtag.google_charts_json %>);

    var options = {
      title: 'Sentiment'
    };

    var chart = new google.visualization.PieChart(document.getElementById('sentiment-chart'));

    chart.draw(data, options);
  }
</script>