<h1>Listing Tweets</h1>

<table class="table">
  <thead>
  <tr>
    <th>Text</th>
    <th>Analyzed?</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.text %></td>
        <td><%= tweet.analyzed ? 'Yes' : 'No' %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% if tweet.analyzed %>
                  <li><%= link_to 'See analysis', tweet %></li>
              <% else %>
                  <li><%= link_to 'Analyzed tweet', analyze_tweet_path(tweet), method: :post %></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'See in Twitter', tweet.url, target: :blank %></li>
            </ul>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', :back %>
