@import "bootstrap-sprockets";
@import "bootstrap";

// ===
// Form
// ===
form.generic-form {
  input[type='text'], input[type='number'], input[type='password'], input[type='email'], textarea, select {
    @extend .form-control;
  }

  input[type='checkbox'] {
    @extend .checkbox;
    display: inline-block;
  }

  input[type='submit'] {
    @extend .btn, .btn-primary;
  }

  .field_with_errors {
    @extend .has-error;
  }
}

.form-control.select-inline {
  width: inherit;
  display: inline-block;
}

// ===
// Working overlay
// ===
.working-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(46, 54, 74, 0.81);
  z-index: 1001;

  display: none;

  div {
    height: 100%;

    .message-container {
      display: table;

      .message {
        display: table-cell;
        vertical-align: middle;

        h2 {
          padding: 50px;
          margin: 0;

          border-radius: 5px;

          background-color: white;

          &:after {
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            -webkit-animation: ellipsis steps(4, end) 900ms infinite;
            animation: ellipsis steps(4, end) 900ms infinite;
            content: "\2026"; /* ascii code for the ellipsis character */
            width: 0;
          }
        }
      }
    }
  }
}

@keyframes ellipsis {
  to {
    width: 33px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 33px;
  }
}