<!DOCTYPE html>
<html>
<head>
  <title>Taller EAFIT</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>
<%= render partial: 'shared/flash', locals: { flash: flash } %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= yield %>
    </div>
  </div>
</div>

<%= render 'shared/working_overlay' %>

</body>
</html>
